doctype 5
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        title= title
        link(rel='stylesheet',type='text/css',href='/stylesheets/common.css')
        link(rel='stylesheet',type='text/css',href='/templates/1/dark.css')

    body
        div
            div
                h1 Dark Template

            div
                //START_BODY
                block content
                //END_BODY

            div

                p Copyright &copy; 2013&nbsp;
                    a(ref="http://www.bluegnosis.com/") Blue Gnosis
                    . All Rights Reserved.

            div.clear