doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    table(width="100%")
      tr
        td(bgcolor="#cd5c5c") HEADER
    //START_BODY
    block content
    //END_BODY